<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Film gallery</title>
</head>

<body class="page">
    <header class="header">
        <h1 class="none">Film gallery</h1>
        <a href="index.html" class="header_home"><img src="../images/content/icons8-home.svg" alt="home"></a>
        <a href="#" class="header_sign">Sign In/Sign Up</a>
    </header>
    <main class="background">
        <section class="container">
            <form action=""></form>
        </section>
    </main>
</body>

</html>