<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Film galery</title>
</head>

<body class="page">
    <header class="header">
        <h1 class="none">Film galery</h1>
        <a href="index.html" class="header_home"><img src="../images/content/icons8-home.svg" alt="home"></a>
        <a href="auth.html" class="header_sign">Sign In/Sign Up</a>
    </header>
    <main class="background">
        <section class="container">
            <select name="sort" id="sort" class = "sort-select">
                <option class="sort-none" value="none">none</option>
                <option class="sort-rating" value="rating">rating</option>
                <option class="sort-date" value="release_date">release date</option>
            </select>
            <ul class="movie-list" id="movie-list">
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
                <li><img src="../images/content/no-image-png-2.png" alt="no image" width="150px" height="200px"></li>
            </ul>
        </section>
        <div class="pagination">
            <a class="one" href="index.html">1</a>
            <a class="first-ellipsis none">...</a>
            <a class="two" href="">2</a>
            <a class="three" href="">3</a>
            <a class="four" href="">4</a>
            <a class="five none" href="">5</a>
            <a class="six none" href="">6</a>
            <a class="seven none" href="">7</a>
            <a class="eight none" href="">8</a>
            <a class="nine none" href="">9</a>
            <a class="second-ellipsis">...</a>
            <a class="ten" href="">10</a>
        </div>
    </main>
</body>

</html>